.fstPage {
            background-image:url("https://github.com/lean-hub/lean/blob/main/Background.png");
            /*background-color: lightgray;*/
            height: 700px;
            width:100%;
            background-size:cover;
        }
