

#iframe {
    { font-size:5em; position:absolute; top:20px; left:60px; z-index:2 }
}
.overlay {
  z-index: 1;  
  background-color: transparent;
  height: 144px;
  left: 608px;
  overflow: hidden;
  position: absolute;
  top: 192px;
  width:306px;
}
div{
}

